.App {
  max-width: 1200px;
  min-width: 500px;
  margin: 0 auto;
}
/* 에디터 */
.DiaryEditor {
  border: 1px solid gray;
  text-align: center;
  padding: 20px;
}
.DiaryEditor input,
textarea {
  margin-bottom: 20px;
  width: 500px;
  padding: 10px;
}
.DiaryEditor textarea {
  height: 150px;
}
.DiaryEditor select {
  width: 350px;
  padding: 10px;
  outline: none;
  margin-bottom: 20px;
}
.DiaryEditor button {
  width: 500px;
  padding: 10px;
  cursor: pointer;
}

/* 리스트 */
.DiaryList {
  border: 1px solid gray;
  padding: 20px;
  margin-top: 20px;
}
.DiaryList h2 {
  text-align: center;
}
.DiaryList h4 {
  color: gray;
  text-align: center;
}

/* 아이템 */
.DiaryItem {
  background-color: rgb(240, 240, 240);
  margin-bottom: 10px;
  padding: 20px;
}
.DiaryItem .info {
  border-bottom: 1px solid gray;
  margin-bottom: 10px;
  padding-bottom: 10px;
}
.DiaryItem .date {
  color: gray;
}
.DiaryItem .content {
  font-weight: bold;
  padding-bottom: 10px;
  margin: 20px 0;
}
